PORT=3000
NODE_ENV=production

SUPABASE_DATABASE_URL=postgresql://postgres.XXXXXX:PASSWORD@aws-1-eu-west-2.pooler.supabase.com:6543/postgres
SESSION_SECRET=change_this_to_a_long_random_secret

PIXPAY_API_KEY_XAF=
PIXPAY_API_KEY_XOF=
PIXPAY_API_KEY_CDF=

NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
APP_URL=https://votre-domaine.com
